__pycache__/
*.pyc
Lstm_sig/
test.py
EFM.py
Principal.py
# Dossiers Python temporaires
__pycache__/
env/
venv/

# Fichiers Python compilés
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs et autres
*.log

